<!--primera card y foto de perfil + info perfil-->
<div class="card mat-card" id="primera-carta">
    <!--foto portada-->
    <div class="row" id="foto-background">
      <div class="container-fluid">
       <img class="img-fluid" src="assets\portada portfolio.jpg"  alt="fondo prueba">
      </div>
    </div>
    <!--foto perfil-->
     <div id="foto-perfil">
      <img src="assets\pepe.jpg"  class="rounded-circle" style="width:20%" style="height: auto" alt="foto prueba">
     </div>
  
    <div class="card-body" id="info-perfil">
      <p style="margin-bottom:0;" class="nombre-perfil"><strong>Nombre de perfil</strong></p>
      <p style="margin-bottom:0;">Profesión</p>
      <a href="#"><strong>Información de Contacto</strong></a>
      <div class="row" id="botones">
      <button type="button" class="btn btn-primary">Nueva sección</button>
      <button type="button" class="btn btn-secondary">Editar perfil</button>
       </div>
    </div>
  </div>
